.inicio {
  width: 100%;
  flex-direction: column;
  display: flex;
  height: 170vh;
  align-items: flex-start;
  background-image: url(../IMG/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio__content {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 32px;
  z-index: 2;
}

.inicio__texts {
  width: 100%;
  align-items: center;
}

.description {
  width: 700px;
}

.text__name {
  color: #02cb7f;
  font-weight: 800;
  font-size: 5rem;
  padding-bottom: 32px;
  letter-spacing: 0.5rem;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 50px;
}

.logo a {
  padding-left: 10px;
  color: #ffffff;
}

.logo a:hover {
  padding-left: 10px;
  color: #02cb7f;
}

.text__description {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.description {
  width: 300px;
}

.btn__content {
  width: 100%;
  display: flex;
  align-items: start;
  padding-top: 32px;
  justify-content: start;
}

@media (max-width: 768px) {
  .text__name {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    justify-content: center;
  }

  .text__description {
    width: 300px;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .description {
    padding-left: 5%;
  }

  .inicio__content > img {
    width: 300px;
    
  }
  .inicio__content {
    width: 100%;
    padding-top: 20%;
    flex-direction: column-reverse;
    justify-content: start;

  }
  .inicio {
    background-position: -190px 0;
    background-repeat: no-repeat;
  }
  .inicioo {
    width: 100%;
  }

  .btn__content {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 32px;
    justify-content: center;
  }
}
