* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

main {
  background-color: #E8E8E8;
}

header {
  width: 100%;
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  /* background-image: url(../IMG/bg-hero.png); */
  background-color: transparent;
}

.logo img {
  height: 40px;
}

.logo a {
  font-size: 1.2rem;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.nav-list {
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.25s;
  color: #ffffff;
}

.nav-list:hover {
  color: #02cb7f;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: #02cb7f;
  color: #fff;
  height: 50px;
  width: 150px;
  border-radius: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #50af8b;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.menu-toggle .icon {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-toggle .icon:before,
.menu-toggle .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: block;
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-toggle .icon:before {
  transform: translateY(-8px);
}

.menu-toggle .icon:after {
  transform: translateY(8px);
}

/* Adicionar regras de mídia para tornar o layout responsivo */

@media (max-width: 768px) {

  header {
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    height: auto;
    padding: 16px;
  }

  .logo {
   
  }

  .logo img {
    height: 30px;
  }

  .logo a {
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    gap: 8px;
    display: none;
  }

  .nav-list {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem;
    height: 40px;
    width: 120px;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle.open .icon {
    background-color: transparent;
  }

  .menu-toggle.open .icon:before {
    transform: translateY(0) rotate(45deg);
  }

  .menu-toggle.open .icon:after {
    transform: translateY(0) rotate(-45deg);
  }

  footer {
    gap: 16px;
    font-size: 1rem;
    height: auto;
    flex-wrap: wrap;
  }

  .footer__contacts {
    align-items: center;
    margin-bottom: 0;
  }

  .footer__contacts span {
    margin-bottom: 0;
  }

  .politicas p {
    left: 10%;
    font-size: 100%;
  }

  .sidebar {
    height: auto;
    bottom: 10px;
    left: 10px;
  }

  .sidebar-toggle {
    top: -50px;
  }

  .sidebar-toggle span {
    width: 16px;
    height: 2px;
    margin-bottom: 3px;
  }
}
