
.image-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-description {
  text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100);
@import url(https://fonts.google.com/specimen/Abhaya+Libre);

.titulo-g {
  background-color: #F7F7F7;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.titulo-g h4 {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 52px;
  color: #2c3c52;
}

.mid__container {
  width: 100%;
  background-color: #F7F7F7;
  display: flex;
  align-items: center; /* Centralizar verticalmente */
  justify-content: flex-end; /* Alinhar à esquerda */
  height: 100vh; /* Definir altura total da tela */
}

.e__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  gap: 55%;
}
.g-container {
  height: fit-content;
  width: 36%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.sub__g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 90px;
  padding-bottom: 20px;
}
.sub__g h2{
  display: flex;
  color: #2c3c52;
  font-size: 50px;
  padding-bottom: 20px;
  font-family: 'Inter',Arial, Helvetica, sans-serif;
}

.sub__g p{
  display: flex;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Inter',Arial, Helvetica, sans-serif;
}

.icon-g {
  display: flex;
  padding-bottom: 4%;
  margin-bottom: 16px;
}

.text__g {
  font-family: 'Inter', Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  margin: unset;

}

.seta-g {
  display: flex;
  align-self: center;
  width: 16px;
  height: 20px;
}



.card-g{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
.card-gustavo {
  display: flex;
  width: 100%;
}




@keyframes slide-in {
  0% {
    transform: rotate(4deg) translateX(100%);
    opacity: 0;
  }
  100% {
    transform: rotate(4deg) translateX(0);
    opacity: 1;
  }
}

.grid-container-3 {
  background-image: url(IMG/bg-hero2.png);
  background-size: 100vw 800px;
  background-repeat: no-repeat;
  height: auto;
  display: -webkit-box;
  height: 100vh;
  flex-direction: column;
}

.sobre__col {
  display: flex;
  width: 100%;
}
.col-text {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
  justify-content: start;
}

.about p {
  display: flex;
  font-family: 'Inter', serif;
  width: 100%;
  font-size: 1rem;
}

.about h2 {
  color: #2c3c52;
  display: flex;
  align-self: start;
  font-size: 3rem;
  font-family: 'Inter', serif;
}
/*Carrossel dos desenvolvedores*/

@media (max-width: 768px) {
  .text__name {
    font-size: 1rem;
    width: 200px;
  }

  .text__description {
    width: 300px;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .inicio__content > img {
    width: 300px;
  }
  .image-item {
    flex: 0 0 50%; /* Mostrar 2 imagens por vez */
  }

  .glider-prev,
  .glider-next {
    display: none; /* Remover os botões de navegação */
  }

  
.mid__container {
  width: 100%;
  flex-direction: column-reverse;
  display: flex;
  align-items: center; /* Centralizar verticalmente */
  justify-content: flex-end; /* Alinhar à esquerda */
  height: fit-content; /* Definir altura total da tela */
}

.e__container {
  display: inline;
  width: 100%;
  text-align: left;
  padding-left: 5%;
}
.g-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.sub__g {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: unset;
  padding-bottom: 20px;
  width: 100%;
}
.sub__g h2{
  display: flex;
  font-size: 36px;
  padding-bottom: 20px;
  font-family: 'Josefin Slab',Arial, Helvetica, sans-serif;
}

.sub__g p{
  display: flex;
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Josefin Slab',Arial, Helvetica, sans-serif;
}
.icon-g {
  display: flex;
  padding-bottom: 10%;
}

.text__g {
  font-family: 'Josefin Slab',Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.seta-g {
  width: 20px;
}

.sobre__col {
  display: row;
  flex-direction: column;
  flex-wrap: wrap;
}
.col-text {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 5%;
  justify-content: center;
}

.card-g{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.card-gustavo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

}
