.inicio {
  width: 100%;
  flex-direction: column;
  display: flex;
  height: auto;
  align-items: center;
  background-image: url(../../IMG/bg-hero.png);
  background-repeat: no-repeat;
  background-size: 1920px 900px;
}

.inicio__content {
  display: flex;
  align-items: center;
  padding-bottom: 15%;
  height: 110vh;
  z-index: 2;
}

.inicio-d {
  width: 100%;
  flex-direction: column;
  display: flex;
  height: auto;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1920px 900px;
}

.inicio__content-d {
  display: flex;
  align-items: start;
  height: 110vh;
  gap: 32px;
  z-index: 2;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.nav-list-d {
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.25s;
  color: #000000;
}

.nav-list-d:hover {
  color: #02cb7f;
}

.btn-d {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 46%;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  background-color: #2c3c52;
  color: #fff;
  height: 60px;
  cursor: pointer;
}

.btn:hover {
  background-color: #50af8b;
}

.logo-d img {
  height: 40px;
}

.logo-d a {
  color: #000;
  font-size: 1.2rem;
}

.inicio__texts {
  width: 100%;
  align-items: center;
}

.description {
  width: 700px;
}

.text__name {
  color: #fff;
  font-weight: 800;
  font-size: 5rem;
  padding-bottom: 32px;
  letter-spacing: 0.5rem;
}

.text__name-d {
  color: #000000;
  font-weight: 800;
  font-size: 5rem;
  padding-bottom: 32px;
  letter-spacing: 0.5rem;
}


.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo>img {
  height: 50px;
}

.logo a {
  padding-left: 10px;
  color: #ffffff;
}

.logo a:hover {
  padding-left: 10px;
  color: #52D5FF;
}

.text__description {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.description {
  width: 300px;
}

.btn__content {
  width: 100%;
  display: flex;
  align-items: start;
  padding-top: 32px;
  justify-content: start;
}

.historico-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.historico-d__container p {
  display: flex;
  align-items: center;
  justify-content: left;

}

.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  align-items: end;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.menu-toggle .icon {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  position: relative;
  transition: background-color 0.3s ease;
}

.menu-toggle .icon:before,
.menu-toggle .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-toggle .icon:before {
  transform: translateY(-8px);
}

.menu-toggle .icon:after {
  transform: translateY(8px);
}


.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: -300px;
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  transition: left 0.3s ease;
  z-index: 9999;
}

.sidebar.open {
  left: 0;
  display: block;
}

.sidebar a {
  display: flex;
  border-color: rgb(228, 228, 228);
  padding: 30px;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-toggle .icon-d {
  width: 25px;
  height: 3px;
  background-color: #000000;
  display: block;
  position: relative;
  transition: 0.3s ease;
}

.menu-toggle .icon-d:before,
.menu-toggle .icon-d:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-toggle .icon-d:before {
  transform: translateY(-8px);
}

.menu-toggle .icon-d:after {
  transform: translateY(8px);
}

a.btn-d {
  color: #fff;
}


.sidebar a:hover {
  background-color: rgb(255, 255, 255);
}

.close-sidebar {
  display: none;
  padding: unset;
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  transition: color 1s ease;
}

.close-sidebar i {
  display: flex;
  margin-left: 90%;
  padding: unset;
  align-items: end;
}

@media (max-width: 768px) {
  .text__name {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    width: 100%;
    justify-content: center;
  }

  .text__description {
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
  }

  .description {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .inicio__content>img {
    width: 100%;

  }

  .inicio__content {
    width: 100%;
    padding-top: 20%;
    flex-direction: column-reverse;
    justify-content: start;

  }

  .inicio {
    background-position: -190px 0;
    background-repeat: no-repeat;
  }

  .inicioo {
    width: 100%;
  }

  .btn {
    width: 160px;
    height: 40px;
  }

  .btn__content {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 32px;
    margin-bottom: 32px;
    justify-content: center;
  }

  .menu-toggle {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .menu-toggle.open .icon:before {
    transform: translateY(0) rotate(45deg);
  }

  .menu-toggle.open .icon:after {
    transform: translateY(0) rotate(-45deg);
  }

  .menu-toggle.open~.sidebar {
    right: 0;
  }
  .menu-toggle-d {
    display: flex;
    align-items: end;
    justify-content: end;
  }

  .menu-toggle-d.open .icon:before {
    transform: translateY(0) rotate(45deg);
  }

  .menu-toggle-d.open .icon:after {
    transform: translateY(0) rotate(-45deg);
  }

  .menu-toggle-d.open~.sidebar {
    right: 0;
  }
}