
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.parceiro__motivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.section_parceiro_title {
  padding-top: 16px;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #222222;
}

.parceiro__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #ee9925;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;
}

.motivo__container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: fit-content;
  justify-content: space-between;
  gap: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.motivo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: justify;
}

.image_parceiro_home {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 0.75px solid #ee9925;
}

.parceiro__valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  height: 80vh;
  width: 100%;
  background-color: #f7f7f7;
}

.padding {
  padding-top: 32px;
}

.valores__description {
  padding-top: 12px;
  width: 90%;
  text-align: center;
  color: #404041;
  padding-bottom: 32px;
}

.valores__container {
  height: 100%;
  width: 100%;
  max-width: 1800px;
  place-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 16px;
  padding: 32px;
}

.valor {
  display: flex;
  gap: 24px;
}

.valor__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #2c3c52;
  color: #2c3c52;
  font-weight: 500;
}

.valor_content_title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.valor_content_description {
  width: 350px;
  text-align: justify;
}
  @media (max-width: 1200px) {
    .motivo__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    .motivo__text {
      width: 80%;
    }
  
    .section_parceiro_title {
      text-align: center;
    }
  
    .parceiro_formulario_content {
      flex-direction: column-reverse;
      width: 100%;
      max-width: 1500px;
      align-items: center;
      padding-right: 0;
    }
  
    .form__parceiro {
      width: 90%;
    }
  
    .form_parceiro_data {
      width: 100%;
    }
  
    .form_parceiro_data>input,
    select,
    .form_parceiro_radio {
      width: 100%;
      gap: 0;
    }
    .parceiro__valores  {
      height: 100%;
    }
  }
  
  @media (max-width: 500px) {
    .valores__container {
      place-items: start;
    }
  
    .valor_content_description {
      width: 300px;
    }
  
    .image_parceiro_home {
      width: 300px;
      height: 300px;
    }
  }
  
  @media (max-width: 430px) {
    .valor_content_description {
      width: 200px;
    }
  }
  
  @media (max-width: 350px) {
    .valores__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  
    .valor {
      align-items: center;
      text-align: center;
      flex-direction: column;
    }
  
    .parceiro__title {
      text-align: center;
    }
  
    .image_parceiro_home {
      width: 200px;
      height: 200px;
    }
  }